language: go
sudo: true
matrix:
  include:
    - go: "1.2"
      before_install:
        - go get code.google.com/p/go.tools/cmd/cover
        - go get code.google.com/p/go.tools/cmd/goimports
    - go: "1.3"
      before_install:
        - go get code.google.com/p/go.tools/cmd/cover
        - go get code.google.com/p/go.tools/cmd/goimports
    - go: "1.4"
      before_install:
        - go get golang.org/x/tools/cmd/cover
        - go get golang.org/x/tools/cmd/goimports
    - go: "tip"
      before_install:
        - go get golang.org/x/tools/cmd/cover
        - go get golang.org/x/tools/cmd/goimports
install:
  - sudo apt-get update -qq
  - sudo apt-get install -y debconf-utils
  - sudo debconf-set-selections testdata/debconf.txt
  - sudo apt-get -y install slapd
  - sudo apt-get install -y ldap-utils
  - sudo ldapadd -H ldapi:/// -Y EXTERNAL -f testdata/openssh-lpk.ldif
  - sudo ldapmodify -H ldapi:/// -Y EXTERNAL -f testdata/rootdnpw.ldif
  - sudo sed -i 's;SLAPD_SERVICES="ldap:/// ldapi:///";SLAPD_SERVICES="ldap:/// ldaps:/// ldapi:///";' /etc/default/slapd
  - sudo cp -f testdata/ssl-cert-snakeoil.key /etc/ldap/ssl-cert-snakeoil.key
  - sudo cp -f testdata/ssl-cert-snakeoil.pem /etc/ssl/certs/ssl-cert-snakeoil.pem
  - sudo chown openldap: /etc/ldap/ssl-cert-snakeoil.key
  - sudo ldapmodify -H ldapi:/// -Y EXTERNAL -f testdata/olcTLSCertificate.ldif
  - sudo service slapd restart
  - ldapadd -x -h localhost -D cn=admin,dc=example,dc=org -w password -f testdata/ou.ldif
  - ldapadd -x -h localhost -D cn=admin,dc=example,dc=org -w password -f testdata/users.ldif
  - go get github.com/mattn/goveralls
  - go get -d -v ./...
script:
  - go test -v -covermode=count -coverprofile=profile.cov
after_success:
  - goveralls -coverprofile=profile.cov -service=travis-ci
